.container {
  padding: 0.4rem 1.2rem;
  display: inline-block;
  border-radius: 10000px;
  background-color: #60a5fa22;
}

.title {
  text-transform: capitalize;
  font-size: 1.2rem;
  color: #eff6ff;
  font-weight: 500;
}
